
html, body{
  line-height: 1rem;
  justify-content: space-around;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
}

/*Main container= Body*/
.main{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  border-color:hsla(90, 90%, 20%, 0.3);
}

/*Header Container*/
header{
 display: flex;
 z-index: 5;
 height: 4rem;
 justify-content: space-between;
 align-items: center;
 background-color: hsla(90, 100%, 20%, 0.9);
 padding: 1rem 1.5rem;
 margin: 0 auto;
}
.logo{
  height: 2rem;
}
.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
header nav{
  margin-right: 1rem;
}
.icons{
  display: none;
}

/*Footer Container*/
footer{
  display: flex;
  height: 4rem;
  background-color: hsla(90, 100%, 20%, 0.9);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin: 0 auto;
}
footer span{
  color: hsl(59, 100%, 69%);
}

/*General Container rules*/
    /*Large Containers*/
section{
  display: block;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(2n+0){
  background-color: hsla(90, 90%, 20%, 0.2);
}
.container .split{
  flex-direction: column;
  max-width:100%;
}
/*Banner*/
.banner{
  background-color: hsl(90, 50%, 75%);
}
.text-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 1.5rem;
  width: 40%;
}
.button{
  display: flex;
  font-size: 1.5rem;
  line-height: 2.5rem;
  justify-content: center;
  background-color: hsla(90, 90%, 20%, 0.3);
  width: 60%;
  margin: 2rem;
  border-radius: 1rem;
}
.button:hover{
  background-color: hsl(90, 100%, 20%);
  transition: 0.1ms ease-out;
  color: hsl(59, 100%, 69%);
}
.banner figure.large{
  background-color: hsl(90, 50%, 75%);
}
   /*Figures*/
figcaption{
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*Large Figures (Banner image, Practice image, Video)*/
figure.large{
  display: inline-block;
  width: 60%;
  padding: 2rem 1.5rem;
  background-color: white;
}

img.large{
  max-width: 100%;
  height: auto;
  display: flex;
}
figcaption.large{
  background-color: white;
  align-items: left;
  display: block;
}

/*Small Figures (Practice Info and Exhibi Info)*/
.info{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

figure.small{
  display: flex;
}
.info-image-container{
  width: 35%;
  overflow: hidden;
  padding: 1rem;
}
img.small{
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
figcaption.small{
  margin: 0;
  width: 65%;
  justify-content: center;
  align-items: left;
}


/*Courses Figures*/
.learn{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  max-width: 100%;
  margin: 0;
  padding: 2rem 4.5rem;
}
figure.courses{
  width: 30%;
}
img.courses{
  height: auto;
  margin:0;
  max-width: 100%;
}
figcaption.courses{
 background-color: white;
 padding: 1rem 1rem 1.5rem 1rem;
}
figcaption.courses:hover{
  background-color: hsla(90, 90%, 20%, 0.2);
}

/*Text Styles*/
h1{
  color: hsl(90, 100%, 15%);
  font-size: 3rem;
  font-weight: bold;
  line-height:3.4rem;
  font-family: 'Roboto', sans-serif;
}
h2{
  color: hsl(90, 100%, 15%);
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: bold;
  padding: 2rem 0;
  background-color: hsl(90, 50%, 75%);
  font-family: 'Roboto', sans-serif;
}
figcaption.large h2{
  background-color: white;
  text-align: left;
}
h3{
  font-size:2rem;
  line-height: 2.5rem;
}
h4{
  color: hsl(90, 100%, 15%);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
}
h5{
  font-size: 1.25rem;
  line-height: 2.25rem;
}
span{
    color: hsl(0, 0%, 0%);
}
.info span{
  margin: .5rem 0;
}
nav span, nav a{
  color: hsl(59, 100%, 69%);
}
nav a:hover{
  color: hsl(90, 100%, 20%);
}
nav a:visited{
    color: hsl(90, 100%, 20%);
}
.info a:hover{
  color: hsl(59, 100%, 69%);
}
video{
  width: 100%;
}

/*Mobile Version*/
@media only screen and (max-width: 480px){
  /*Hidden Elements*/
  .logo-name span, .topnav, .bottom-nav, #info-main, .courses img, #thesis-info,
  figcaption h5, .courses span, p{
    display: none;
  }
  /*Adjusted widths*/
  section, .container, .info, figure.large, .info-image-container, figure.small,
  figcaption.small, figure.courses, .text-box, .course h4, .logo-name {
    width:100%;
  }
  /*Main conatiners*/
  .main{
    justify-content: center;
  }
  .container, .learn{
    flex-direction: column;
  }
  .icons{
    display:inline-block;
    border: 1px solid;
    border-color:hsla(90, 100%, 20%, 0);
    border-radius: 1rem;
  }
  .icons:hover{
    background-color:hsl(90, 50%, 75%);
    transition: .3s ease-in;
  }
  .logo-name{
    justify-content: space-between;
  }
  /*banner*/
  figure.large{
    padding: 0;
    justify-content: center;
    align-items: center;
    display: block;
    border: none;
    background-color: hsl(90, 50%, 75%);
  }
  .text-box{
     justify-content:center;
     align-items:center;
     padding: 0;
  }
  .text-box h1{
    padding: 2rem 0 2rem 1rem;
  }
  .text-box h4, .small h4, .small span, .small a{
    padding-left: 1rem;
  }
  .button{
    margin: 1.5rem 0 2rem 0;
  }
  /*Practice section info*/
  .info{
    padding-bottom:2rem;
    height: auto;
  }
  .info-image-container{
    display: flex;
    overflow: hidden;
    padding: 0;
  }
  figure.small{
    flex-direction: column;
  }
  img.small{
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem;
   display: block;
  }
  /*Courses section*/
  h2{
    padding: 2rem 0 1rem;
  }
  .learn{
    padding: .5rem 0 0 0;
  }
  figcaption.courses{
    border: 1px solid;
    border-color:hsla(90, 100%, 20%, 0.9);
    margin-bottom:.5rem;
    border-radius: .5rem;
    padding-right: 0;
    max-width: 100%;
  }
  /*Thesis Section*/
  video{
    margin-bottom: 1.5rem;
  }
}
/*Tablet Version*/
@media only screen and (max-width: 768px) and (min-width: 480px){
  /*Hidden Elements*/
  .logo-name span, .topnav, #thesis-info,
  figcaption h5, .courses span, p{
    display: none;
  }
  .icons{
    display:inline-block;
    border: 1px solid;
    border-color:hsla(90, 100%, 20%, 0);
    border-radius: 1rem;
  }
  .icons:hover{
    background-color:hsl(90, 50%, 75%);
    transition: .3s ease-in;
  }
  .logo-name{
    justify-content: space-between;
  }
  /*Adjusted widths*/
  section, .container, .info, figure.large, .info-image-container, figure.small,
   .text-box, .logo-name {
    width:100%;
  }
  .container{
    flex-direction: column;
  }
  figure.large, .text-box, figcaption.courses{
    padding: 0;
  }
  .text-box h1{
    padding: 2rem 0 2rem 1rem;
  }
  .text-box h4, .large h2{
    padding-left: 1rem;
  }
  figure.courses{
    margin: 1rem;
  }
  .learn{
    padding: 1rem 2rem;
  }

}
